<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com\team4\fitness_and_wellbeing\Dao\VideoDao.java">
    <select id="getVideos" resultType="com\team4\fitness_and_wellbeing\model\Video.java" parameterType="Set">
        SELECT * FROM video WHERE id IN #{videoIds}
    </select>
</mapper>